
<h1 class="border-bottom pb-3"> <%= @place["name"] %></h1>
<div class="mt-4 text-center">
<a href="/places" class="btn btn-outline-secondary">Back to All Places</a>
</div>

<div class="container">
 <h3 class="border-bottom pb-3">My Posts</h3>
 
 <% if @current_user.present? %>

   <div class="mt-4 text-center">
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
  </div>

  <div class="row gy-4">
    <% for post in @entries %>
      <% if post.user && post.user["id"] == @current_user["id"] %>
      
        <div class="col-12 col-md-6 col-lg-4">
          <h5 class="fw-bold"><%= post.user["username"] %></h5>
          <p><%= post["description"] %></p>
          <p><%= post["occured_at"] %></p>

          <% if post.uploaded_image.attached? %>
            <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid rounded mb-2">
          <% else %>
            <p class="text-muted">No image available</p>
          <% end %>

          <div class="text-end">
            <small class="fst-italic text-secondary">
              <%= post["created_at"].strftime("%-m/%d/%y at %-I:%M %p") %>
            </small>
          </div>
          </div>
      <% end %>
    <% end %>

    <% end %>
    
    <% if @current_user.nil? %>
     
    You must <a href="/login">login</a> to view your posts.
  
     <% end %>
  </div>

</div>